<section id="extras" class="body">
    <div class="blogroll">
        <h2>Other resources</h2>
        <ul>
            {% for r in site.resource %}
            <li><a href="{{ r.url }}">{{ r.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="social">
        <h2>Social</h2>
        <ul>
            {% for s in site.social %}
            <li><a href="{{ s.url }}" type="application/atom+xml" rel="alternate">{{ s.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <!-- /.social -->
</section>
